<h1>Edit</h1>

<!-- <p>Html Form</p>

<form action="/users" method="post" accept-charset="UTF-8">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]" value="user[username]"><br><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="user[email]"><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="user[password]"><br><br>
    <input type="submit" value="Submit">
</form> -->

<h2>Railsy form</h2>

<%= form_tag(user_path(@user), method: "patch") do %>
  <%= label(:user, :username) %>
  <%= text_field(:user, :username) %><br><br>
  <%= label(:user, :email) %>
  <%= text_field(:user, :email) %><br><br>
  <%= label(:user, :password) %>
  <%= password_field(:user, :password) %><br><br>
  <%= submit_tag("Submit") %>
<% end %> 

<!--<h2>Railsy-er form</h2>

<%= form_with(model: @user) do |form| %>
  <%= form.label :username, value: 'User name here ->', for: 'user_username' %>
  <%= form.text_field :username %><br><br>

  <%= form.label :email %>
  <%= form.text_field :email, placeholder: 'name@example.com' %><br><br>

  <%= form.label :password %>
  <%= form.password_field :password %><br><br>

  <%= form.submit %>
<% end %>-->